
.headerPS{
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    /* margin: 2vh auto; */
    margin-bottom: 4vh;

}

.header0{
    width: 350px;
    display: flex;
    align-items: center;
    padding: 10px;
    max-height: 20vh;
    background-color: #ffffff;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* justify-content: space-; */
}
.header0 img{
    height: 80px;
    margin-right: 0.7rem;
    border-radius: 5px;
}
.header0 .txt .txt1{
    /* padding: 1rem; */
    color: #1A1A1A;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
}

.header0 .txt .txt2{
    color: rgba(82, 82, 82, 0.60);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
    }




.selection1{
    display: flex;
    margin-bottom: 2vh;
    padding-left: 5vw;
    /* justify-content: center; */

}

.select select{
    border: none;
    text-align: end;
    color: rgba(38, 38, 38, 0.75);
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    background: #eaeced;


}

.selection1 .select span{
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */

}

.selection1 .s1,.s2{
    margin: auto 3vw;
    padding: 10px;
    background: #eaeced;
    border-radius: 10px;
}




.selection2{
    display: flex;
    margin-bottom: 2vh;
    padding-left: 5vw;
    /* justify-content: center; */

}

.select2 select{
    border: none;
    text-align: end;
    color: rgba(38, 38, 38, 0.75);
    font-family: Segoe UI;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    background: #eaeced;


}

.selection2 .select2 span{
    font-family: Segoe UI;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */

}

.selection2 .s21{
    margin-left: 3vw;
}
.selection2 .s21,.s22,.s23,.s24{
    /* margin: auto 3vw; */
    margin-right: 2vw;
    padding: 7px;
    background: #eaeced;
    border-radius: 10px;
}
.s24 input{
    background: #eaeced;
    border: none;
    
}

.tablePS{
    margin: 8vh 7vw;
}

.tablePS table tr {
    margin-top: vh;
}

.table_center{
text-align: center;
}

.prob_row{
    /* margin: 10vh; */
}

.tablePS table th, td {
    padding: 15px;
  }

.tablePS table tr:nth-child(even) {
    /* background-color: #D6EEEE; */
    background-color: #EAEEFF;
  }

.tablePS table tr th{
    color: rgba(9, 9, 25, 0.6);
font-family: Segoe UI;
/* font-size: 13px; */
/* font-style: normal; */
font-weight: 400;
/* line-height: 21px; 161.538% */
}